<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-verint-xm" version="3.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Verint-XM</name>
	<description>Verint XM Cordova SDK</description>
	<keywords>Verint</keywords>
	<author>Verint</author>

 
    <js-module name="Verint-XM" src="www/VerintXM.js">
        <clobbers target="cordova.plugins.verint.xm" />
    </js-module>

    <!--
	Android
	-->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="VerintXM">
                <param name="android-package" value="com.verint.xm.cordova.plugin.VerintXM" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
        </config-file>

        <framework src="build.gradle" custom="true" type="gradleReference" />
        <framework src="com.verint.xm.sdk:predictive:7.0.2" />
        <framework src="com.verint.xm.sdk:digital:7.0.2" />
        <framework src="com.android.support:appcompat-v7:26.1.0"/>
        <source-file src="src/android/VerintXM.java" target-dir="src/com/verint/xm/cordova/plugin/VerintXM" />
    </platform>

    <!--
	Apple iOS
	-->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="VerintXM">
                <param name="ios-package" value="VerintXM" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <resource-file src="src/exp_configuration.json"/>
        <resource-file src="src/exp_logo.png"/>
        <resource-file src="src/exp_fcp.json"/>
        <header-file src="src/ios/VerintXM.h" />
        <source-file src="src/ios/VerintXM.m" />
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="Verint-XM" spec="7.0.2" />
                <pod name="Verint-XM/Digital" spec="7.0.2" />
            </pods>
        </podspec>
    </platform>

    <hook src="scripts/exp_config.js" type="after_prepare" />

</plugin>
