<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-foresee" version="1.2.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ForeSeeAPI</name>
	<description>ForeSee SDK API Plugin</description>
	<keywords>foresee</keywords>
	<author>ForeSee</author>

 
    <js-module name="ForeSeeAPI" src="www/ForeSeeAPI.js">
        <clobbers target="cordova.plugins.ForeSeeAPI" />
    </js-module>

    <!--
	Android
	-->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ForeSeeAPI">
                <param name="android-package" value="com.foresee.cordova.plugin.ForeSeeAPI" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <framework src="build.gradle" custom="true" type="gradleReference" />
        <framework src="com.foresee.sdk:cxMeasure:6.0.3" />
        <framework src="com.foresee.sdk:feedback:6.0.3" />
        <framework src="com.android.support:appcompat-v7:26.1.0"/>
        <source-file src="src/android/ForeSeeAPI.java" target-dir="src/com/foresee/cordova/plugin/ForeSeeAPI" />
    </platform>

    <!--
	Apple iOS
	-->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ForeSeeAPI">
                <param name="ios-package" value="ForeSeeAPI" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <resource-file src="src/foresee_configuration.json"/>
        <source-file src="src/ios/ForeSeeAPI.m" />
        <framework src="ForeSee" type="podspec" spec="6.0.6" />
    </platform>

    <info>
        For iOS don't forget to run pod install, to include ForeSee iOS SDK 
    </info>

     <hook src="scripts/foresee_config.js" type="after_prepare" />

</plugin>
