<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.foresee.cordova.plugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ForeSeeAPI</name>

    <js-module name="ForeSeeAPI" src="www/ForeSeeAPI.js">
        <clobbers target="cordova.plugins.ForeSeeAPI" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ForeSeeAPI">
                <param name="android-package" value="com.foresee.cordova.plugin.ForeSeeAPI" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <framework src="com.foresee.sdk:sdk:+" />
        <source-file src="src/android/ForeSeeAPI.java" target-dir="src/com/foresee/cordova/plugin/ForeSeeAPI" />
    </platform>


    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ForeSeeAPI">
                <param name="ios-package" value="ForeSeeAPI" />
            </feature>
        </config-file>
        <source-file src="src/ios/ForeSeeAPI.m" />
        <framework src="ForeSee" type="podspec" spec="~> 4.2.2" />

    </platform>

    <info>
        For iOS don't forget to run pod install, to include ForeSee iOS SDK 

        For Android don't forget to add MyApplication.java if you don't have it yep
    </info>
</plugin>